
<div class="modalLineal">

	<md-dialog class="modalDialog">

		<h2 style="" class="tituloModal" >Editar I.P.S </h2>

		<md-dialog-content >

			<div class="cuerpoUsuario" class="md-dialog-content" >

				<form name="formularioForm">

					<md-input-container flex="100" class="col-sm-12 col-xl-12 col-md-12 col-lg-12">
					<label>Nombre </label>
						<input type="text" required name="nombre" ng-model="nombre"  placeholder="Escribe el nombre de la I.P.S" >
						<div ng-messages="formularioForm.nombre.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>

				</form>

			</div>

		</md-dialog-content>

		<md-dialog-actions layout="row">

			<md-button ng-click="hide()" class="{{ocultarCancel}} cancelar">
				Cancelar
			</md-button>

			<md-button  ng-click="guardar()" class="aceptar" ng-disabled="!(formularioForm.$valid) || editando.name == nombre.toUpperCase()" >
				Guardar
			</md-button>
		</md-dialog-actions>

	</md-dialog>

</div>
