
<div class="titulo" >
  <h1 ng-model="user" class="tituloPrincipal visible fadeIn">Edición de datos</h1>
</div>
<section class="visible" style="background-color:white;height:calc(100vh); display: inherit;" >


  <div ng-model="displayForm" id="cierpoInicio" class="" style="display: {{displayForm}};">





    <div class="cuerpo" style="height: 100%;">
      <div class="seccionCuerpo" style="height: 100%;">


        <md-content md-theme="formulario" style="margin-bottom:40px; background-color: white; overflow: hidden;">




          <div class="formularioRegistro" style="">


            <form name="formularioForm">



              <md-input-container flex="100" class="col-sm-12 col-xl-12 col-md-12 col-lg-12">
                <label>Email </label>
                <input type="email" required name="email" ng-model="formulario.envio.email" ng-disabled="true" ng-pattern="/^.+@.+\..+$/" ng-change='validar()' >
                <div ng-messages="formularioForm.email.$error">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="pattern">Este campo debe ser un email.</div>
                </div>
              </md-input-container>

              <md-input-container flex="100" class="col-sm-12 col-xl-6 col-md-6 col-lg-12">
                <label>Nombre completo</label>
                <input type="text" class="ng-touched" id="name" md-maxlength="50" required name="name" ng-model="formulario.envio.name" ng-value="formulario.envio.name" ng-change='validar()'>
                <div ng-messages="formularioForm.name.$error">
                  <div ng-message="required">Este campo es requerido.</div>
                  <div ng-message="md-maxlength">50 caracteres maximo</div>
                </div>
              </md-input-container>

              <div class="col-sm-12 col-xl-6 col-md-6">
                <div style="width: 100% !important;">

                  <label style="font-size: 11px;
                  color: #a5a5a5;"> Fecha de nacimiento </label>
                </div>
                <md-datepicker md-open-on-focus md-current-view="year" value="minima" name="fechaNacimiento" id="picker" readonly md-min-date="maxima" min="maxima" required md-max-date="minima" ng-model="formulario.envio.fechaNacimiento" md-placeholder="Selecciona un día"></md-datepicker>
                <div ng-messages="formularioForm.d.$error">
                  <div ng-message="md-max-date">Debes ser menor de 90 años.</div>
                  <div ng-message="md-min-date">Debes ser mayor de 14 años.</div>
                  <div ng-message="maxima">Debes ser mayor de 14 años.</div>
                  <div ng-message="minima">Debes ser mayor de 14 años.</div>
                  <div ng-message="required">Debes ingresar tu fecha de nacimiento.</div>
                </div>
                <div>

                </div>
                
              </div>

        



            <md-input-container  class="col-md-6  col-xl-6 col-lg-6 col-sm-12" md-rowspan="3">
              <label>Telefono</label>
              <input type="text" required name="telefono" md-maxlength="15" ng-model="formulario.envio.telefono" ng-change='validar()'>
              <div ng-messages="formularioForm.telefono.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlengthax">Máximo 15 caracteres</div>
                   <div ng-message="required">Este campo es requerido.</div>
              </div>
            </md-input-container>



            <md-input-container  class="col-md-6 col-xl-6 col-lg-6 col-sm-12" md-rowspan="3">
              <label>Direccion</label>
              <input type="text" required name="direccion" md-maxlength="80" ng-model="formulario.envio.direccion" ng-change='validar()'>
              <div ng-messages="formularioForm.direccion.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlengthax">Máximo 80 caracteres</div>
              </div>
            </md-input-container>



            <md-input-container class="col-md-6 col-xl-6 col-lg-6 col-sm-12">
              <label>Barrio / residencia</label>
              <input type="text" required name="barrio" md-maxlength="50" ng-model="formulario.envio.barrio" ng-change='validar()'>
              <div ng-messages="formularioForm.barrio.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="md-maxlengthax">Máximo 50 caracteres</div>

              </div>
            </md-input-container>

            <md-input-container class="col-sm-12 col-xl-6 col-md-6 col-lg-6">
              <label>Estatura (m)</label>
              <input type="number" required name="estatura" max="2.2" min="1.30" ng-model="formulario.envio.estatura" ng-change='validar()'>
              <div ng-messages="formularioForm.estatura.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="max">Máximo 2.2 m</div>
                <div ng-message="min">Minimo 1.30 m</div>
              </div>
            </md-input-container>


            <md-input-container class="col-sm-12 col-xl-6 col-md-6 col-lg-6">
              <label>Peso (Kg)</label>
              <input type="number" required name="peso" max="200"  min="30"  ng-model="formulario.envio.peso" ng-change='validar()'>
              <div ng-messages="formularioForm.peso.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="max">Máximo 200 kg</div>
                <div ng-message="min">Minimo 30kg.</div>
              </div>
            </md-input-container>





            <md-input-container class="col-sm-12 col-xl-6 col-md-6 col-lg-6">
              <label>¿Cuantos hijos tienes?</label>
              <input type="number" required name="hijos" max="20" min="0" ng-model="formulario.envio.hijos" ng-change='validar()'>
              <div ng-messages="formularioForm.hijos.$error">
                <div ng-message="required">Este campo es requerido.</div>
                <div ng-message="max">Máximo 20 hijos</div>
                <div ng-message="min">Minimo 0 hijos.</div>
              </div>
            </md-input-container>       




            <md-checkbox ng-model="data.cb1" ng-show="formulario.envio.edad > 50" aria-label="Checkbox 1">
              ¿Te has realizado la mamografía?
            </md-checkbox>

            <md-button ng-click="guardarPerfil()" class="md-raised md-primary primaryAmate" ng-disabled="btnGuardarDatos" style="    text-transform: initial;    margin-bottom: 20px; width: 80%; margin-left:10%;" >Guardar cambios</md-button>




          </form>

        </md-content>




      </div>


    </div>   

  </md-dialog-content>


</md-dialog>


</md-content>



</md-content>


</div>
</div>


</div>

</section>

<div class="foot" style="height: 45px; width: 100%; background-color: #ff6390; color: white;">
  <p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>
