
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal visible fadeIn">Usuarios</h1>
</div>


<section style="background-color:white;height:calc(100%); display: inherit; width: 100vw;" >

	<div ng-model="displayForm" id="cierpoInicio" style="display: {{displayForm}};">

		<div class="cuerpo" style="height: 100%;">
			
			<div class="seccionCuerpo" style="height: 100%;">

				<md-content  style=" background-color: white; overflow-x: hidden; height: 100%;">


					<div class="cuerpoAplicacion" style="display:inline-block; width:100% !important; margin-left:0px !important;">



						<md-toolbar class="md-hue-2" style="width: 80%; margin-left: 10%; margin-top: 10px; background-color: white !important">

							<div class="md-toolbar-tools">
								<i class="fa fa-search middleIcon iconoSearch" aria-hidden="true"></i> 
								<form name="filter.form" class="barraSearch">
									<input ng-model="query.filter" type="text" class="inputSearch" placeholder="Buscar en esta tabla..."  >
								</form>

							</div>
						</md-toolbar>
						<div id="contenedorTabla" class="" style="width:80% !important; margin-left:10% !important;">


							<md-table-container style="" >   

								<table md-table  ng-model="selected" md-progress="promise">
									<thead md-head md-order="query.order" md-on-reorder="reordenar">
										<tr md-row>

											<th md-column md-order-by="name"><span>Nombre</span></th>
											<th md-column md-order-by="puntos"><span>Puntos</span></th>
											<th md-column md-order-by="fechaCreado"><span>Fecha creación</span></th>
											<th md-column md-order-by="edad"><span>Edad</span></th>
											<th md-column md-order-by="textoEstado"><span>Estado</span></th>

											<th md-column md-order-by="cita"">Desea ser contactada</th>
											<th md-column md-numeric style="width:30% !important;text-align: center;">Acciones disponibles</th>

											<th md-column md-order-by="appointmentBreast"><span>Agenda mamografía</span></th>
											<th md-column md-order-by="appointmentCervix"><span>Agenda citología</span></th>


										</tr>
									</thead>
									<tbody md-body style="height: 500px !important;max-height: 500px !important;">
										<tr md-row md-select="false" md-select-id="name" class="animate"   ng-repeat="(key, usuario) in usuarios | orderBy: query.order  | limitTo: query.limit : (query.page -1) * query.limit | filter: query.filter ">


											<td md-cell style="">{{usuario.name}} {{usuario.lastName}}</td>
											<td md-cell style="">{{usuario.puntos}}</td>
											<td md-cell style="">{{usuario.dateCreated}}</td>
											<td md-cell style="">{{usuario.edad}}</td>


											<td  md-cell style="">{{usuario.textoEstado}}</td>



											<td  md-cell >{{usuario.cita}}</td>




											<td md-cell style="width: 30%;text-align: left;">





												<md-button ng-if="usuario.profileCompleted==0" ng-click="detalleUsuario($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
													<i class="fa fa-user middleIcon" style="min-width:0px !important;color:#db2763;" aria-hidden="true"></i> 
													<md-tooltip
													md-direction="bottom">
													Perfil
												</md-tooltip>
											</md-button>

											<md-button ng-if="usuario.profileCompleted==1" ng-click="detalleUsuario($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
												<i class="fa fa-user middleIcon" style="min-width:0px !important;color:#4fd467;" aria-hidden="true"></i> 
												<md-tooltip
												md-direction="bottom">
												Perfil
											</md-tooltip>
										</md-button>




										<md-button ng-click="respuestasUsuarioSeno($event, usuario)" ng-if="usuario.repetitionsAnswersBreast == 2" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
											<i class="fa fa-list middleIcon" style="min-width:0px !important;color:#ff6390; position: absolute" aria-hidden="true"></i> 
											<i class="fa fa-check middleIcon" style="min-width:0px !important;color:#4fd467; position: inherit;" aria-hidden="true"></i> 
											<md-tooltip
											md-direction="bottom">
											Respuestas seno
										</md-tooltip>
									</md-button>

									<md-button ng-click="respuestasUsuarioSeno($event, usuario)" ng-if=" usuario.repetitionsAnswersBreast == 1 "  style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
										<i class="fa fa-list middleIcon" style="min-width:0px !important;color:#ff6390" aria-hidden="true"></i> 

										<md-tooltip
										md-direction="bottom">
										Respuestas seno
									</md-tooltip>
								</md-button>




								<md-button ng-click="respuestasUsuarioCervix($event, usuario)" ng-if="usuario.repetitionsAnswersCervix == 2" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
									<i class="fa fa-list middleIcon" style="min-width:0px !important;color:#009997; position: absolute;" aria-hidden="true"></i> 
									<i class="fa fa-check middleIcon" style="min-width:0px !important;color:#4fd467; position: inherit;" aria-hidden="true"></i> 
									<md-tooltip
									md-direction="bottom">
									Respuestas cuello uterino
								</md-tooltip>
							</md-button>

							<md-button ng-click="respuestasUsuarioCervix($event, usuario)" ng-if=" usuario.repetitionsAnswersCervix==1" style="min-width:0px !important;  margin-left: 0px; margin-right: 0px;">
								<i class="fa fa-list middleIcon" style="min-width:0px !important;color:#009997;" aria-hidden="true"></i> 
								<md-tooltip
								md-direction="bottom">
								Respuestas cuello uterino
							</md-tooltip>
						</md-button>

						<md-button  ng-if="usuario.repetitionsAnswersCervix == 2 && usuario.repetitionsAnswersBreast == 2 && usuario.state == 3"  style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
							<md-tooltip
							md-direction="bottom">
							Premio entregado
						</md-tooltip>
						<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#4fd467;" aria-hidden="true"></i> 
					</md-button>


					<md-button  ng-if="usuario.repetitionsAnswersCervix == 2 && usuario.repetitionsAnswersBreast == 2 && usuario.state == 2" ng-click="entregarPremio($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
						<md-tooltip
						md-direction="bottom">
						Entregar premio
					</md-tooltip>
					<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#a30039;" aria-hidden="true"></i> 
				</md-button>







				<md-button  ng-if="usuario.siftingCervix==true && usuario.examGiftCervix!=true" ng-click="entregarPremioExamenCervix($event, usuario)" style="color:#009997 ;min-width:0px !important; margin-left: 0px; margin-right: 0px;">
					<md-tooltip md-direction="bottom">
						Premio por examen: citología
					</md-tooltip>
					<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#009997;" aria-hidden="true"></i> 
				</md-button>


				<md-button  ng-if="usuario.siftingCervix==true && usuario.examGiftCervix==true"  style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
					<md-tooltip md-direction="bottom">
						Premio por examen: citología entregado
					</md-tooltip>
					<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#009997; position: absolute;" aria-hidden="true"></i> 
					<i class="fa fa-check middleIcon" style="min-width:0px !important;color:#4fd467; position: inherit;" aria-hidden="true"></i> 
					
				</md-button>


					<md-button  ng-if="usuario.siftingBreast==true && usuario.examGiftBreast!=true" ng-click="entregarPremioExamenBreast($event, usuario)" style="color:#ff6390;min-width:0px !important; margin-left: 0px; margin-right: 0px;">
					<md-tooltip md-direction="bottom">
						Premio por examen: mamografía
					</md-tooltip>
					<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#ff6390;" aria-hidden="true"></i> 
				</md-button>


				<md-button  ng-if="usuario.siftingBreast==true && usuario.examGiftBreast==true"  style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
					<md-tooltip md-direction="bottom">
						Premio por examen: mamografía entregado
					</md-tooltip>
					<i class="fa fa-gift middleIcon" style="min-width:0px !important;color:#ff6390; position: absolute;" aria-hidden="true"></i> 
					<i class="fa fa-check middleIcon" style="min-width:0px !important;color:#4fd467; position: inherit;" aria-hidden="true"></i> 
					
				</md-button>









			</td>

			<td md-cell style="width: 5%;text-align: center;">
				<md-button  ng-if="usuario.breastIndication == true && usuario.siftingBreast!=true && usuario.siftingBreast!=false" ng-click="agendaSeno($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
					<md-tooltip
					md-direction="bottom">
					Mamografía
				</md-tooltip>
				<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color:grey;" aria-hidden="true"></i> 
			</md-button>


			<md-button  ng-if="usuario.breastIndication == true && usuario.siftingBreast==false" ng-click="agendaSeno($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
				<md-tooltip
				md-direction="bottom">
				Mamografía
			</md-tooltip>
			<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color:#f5bd3b;" aria-hidden="true"></i> 
		</md-button>

		<md-button  ng-if="usuario.breastIndication == true  && usuario.siftingBreast==true" ng-click="agendaSeno($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
			<md-tooltip
			md-direction="bottom">
			Mamografía
		</md-tooltip>
		<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color:#4fd467;" aria-hidden="true"></i> 
	</md-button>

</td>
<td md-cell style="width: 5%;text-align: center;">

	<md-button  ng-if="usuario.cervixIndication == true && usuario.siftingCervix!=true && usuario.siftingCervix!=false" ng-click="agendaCervix($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
		<md-tooltip
		md-direction="bottom">
		Citología
	</md-tooltip>
	<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color: grey;" aria-hidden="true"></i> 
</md-button>

<md-button  ng-if="usuario.cervixIndication == true && usuario.siftingCervix==false" ng-click="agendaCervix($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
	<md-tooltip
	md-direction="bottom">
	Citología
</md-tooltip>
<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color:#f5bd3b;" aria-hidden="true"></i> 
</md-button>

<md-button  ng-if="usuario.cervixIndication == true  && usuario.siftingCervix==true" ng-click="agendaCervix($event, usuario)" style="min-width:0px !important; margin-left: 0px; margin-right: 0px;">
	<md-tooltip
	md-direction="bottom">
	Citología
</md-tooltip>
<i class="fa fa-address-book-o middleIcon" style="min-width:0px !important;color:#4fd467;" aria-hidden="true"></i> 
</md-button>
</td>



</tr>
</tbody>
</table>
</md-table-container>


<!-- how to change the pagination label -->
<md-table-pagination ng-model="cantidadUsuarios" md-limit="query.limit" md-limit-options="[10, 50, 100]" md-page="query.page"  md-total="{{cantidadUsuarios}}" md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'}" md-on-paginate="logPagination" md-page-select></md-table-pagination>



</div>






</div>

</md-content>

</div>

</div> 

</div> 




</section>

<div class="foot" style="height: 45px; width: 100%; background-color: #ff6390; color: white;">
	<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>

