

<section style="background-color:white;height:calc(100vh); width: 100vw; display: inherit ;    min-width: 350px;" >

	<div ng-model="displayForm" id="cierpoInicio" style="display: {{displayForm}};">



		<div class="cuerpo" style="height: 100%;">

			<div class="seccionCuerpo" style="height: 100%;background:  rgba(128, 128, 128, 0.05);">

				<div class="loginMarco" style="padding-bottom: 20px;">

					<div class="" style="" >
						<img class="visible imagenLogoLogin" src="img/logoAmateColor.png" >
					</div>
					<div class="formularioRegistro" style="    margin-left: 12.5% !important;
					width: 75% !important;">
					<md-input-container flex="100" class="col-sm-12 col-xl-12 col-md-12" style="margin-top: 45px !important;margin-bottom: 0px !important; width: 100vw;">
						<label>Usuario</label>
						<input type="text" required name="cliente" ng-model="formulario.envio.email">
						<div ng-messages="formulario.nit.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					</md-input-container>

					<md-input-container flex="100" class="col-sm-12 col-xl-12 col-md-12" style="margin-top: 0px !important; width: 100vw;">
						<label>Contraseña</label>
						<input type="password" required name="razon" ng-model="formulario.envio.password">
						<div ng-messages="formulario.razon.$error">
							<div ng-message="required">Este campo es requerido.</div>
						</div>
					
					</md-input-container>			



					<div style="">

						<md-button ng-click="enviarDatosLogin()" class="md-raised md-primary primaryAmate" style="    text-transform: initial;    margin-bottom: 20px; width: 80%; margin-left:10%; " >Ingresar</md-button>

						

					</div>
				</div>

			</div>



		</div>

	</div> 

</div>  

</section>
