
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal visible fadeIn">Estadisticas</h1>
</div>


<section style="background-color:white;height:calc(100%); display: inherit; width: 100vw;" >

	<div ng-model="displayForm" id="cierpoInicio">


		<div class="cuerpo" style="height: 100%;">
			
			<div class="seccionCuerpo" style="height: 100%;">

				<md-content  style=" background-color: white; overflow-x: hidden; height: 100%;">


					<div class="cuerpoAplicacion" style="display:inline-block; width:80% !important; margin-left:10% !important;">

						<div id="cargandoPreguntas" class="noVisible" style="    margin-top: calc(50vh - 220px);">
							<div class="contenedorProgress" layout="row" layout-sm="column" layout-align="space-around">
								<md-progress-circular md-warn="#db2763" md-accent="db2763" md-diameter="150">ss</md-progress-circular>


								<i style="font-size: 45px; position: absolute; padding: 35px; color: #278493;" class="fa fa-bar-chart iconSeccionMenu  imagenProgress" aria-hidden="true"></i>

							</div>
							<h3 style="text-align: center;">Cargando datos...</h3>
						</div>




						<div id="grafica" class="animate noVisible">

							<h2 class="tituloGrafica" style="color:#a30039;"> Cantidad de usuarios</h2>


							<div class="cuerpo" style="height: 100%;">

								<div class="seccionCuerpo" style="height: 100%;">

									<div bar-chart  bar-data='usuariosGrafica.dataChart' bar-x='y' bar-y='["a"]' bar-labels='usuariosGrafica.dataX' bar-colors='["#db2763"]'>
									</div>

								</div>

								<h2 class="tituloGrafica" style="color:#a30039;"> Distribución por edades</h2>

								<div style="text-align: center;">
									<h2 class="tituloPreguntasSeno ng-binding" style="text-align: left; display: inline;">Mediana: {{mediana}}</h2>
									<h2 class="tituloPreguntasSeno ng-binding" style="text-align: left; display: inline; margin-left: 15px;">Media: {{datoMedia}}</h2>
									<h2 class="tituloPreguntasSeno ng-binding" style="text-align: left; display: inline; margin-left: 15px;">Cantidad de usuarios: {{recuento}}</h2>
								</div>

								

								<div class="seccionCuerpo" style="height: 100%; width: 100%; overflow: auto;">

									<div bar-chart bar-chart-resize="true"  bar-data='graficaPuntual' bar-x='y' bar-y='["a"]' bar-labels='usuariosGrafica.dataX' bar-colors='["#db2763"]'>
									</div>



								</div>

							</div> 

						</div>

						<div class="row">



						</div> 


					</div> 




				</md-content>

			</div>

		</div> 



	</section>

	<div class="foot" style="height: 45px; width: 100%; background-color: #ff6390; color: white;">
		<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
	</div>

