			
<div class="titulo" >
	<h1 ng-model="user" class="tituloPrincipal senoPrimary visible fadeIn">Página de inicio</h1>
</div>

<section style="background-color:white;height:calc(100%); display: inherit; width: 100%;" >

	<div ng-model="displayForm" id="cuerpoInicio" style="display: {{displayForm}}; width: 100%">

		<div class="cuerpo" style="height: 100%;">

			<div class="seccionCuerpo" style="height: 100%;">


				<md-content md-theme="formulario" style=" background-color: white; overflow-x: hidden; height: 100%; overflow-y: hidden;">

					<div class="cuerpoAplicacion" style="display:inline; width:100% !important	;height: 100%;  margin-left:0px !important;">


					</div>

				</md-content>

			</div>

		</div> 

	</div>  

</section>
<div style="height: 45px; width: 100%; background-color: #ff6390; color: white;" >
	<p style="text-align: center;">Todos los derechos reservados | Ámate | 2017</p>
</div>
